In [1]:
import pandas as pd

In [2]:
import sklearn

In [3]:
import numpy as np

In [4]:
import pymysql

In [5]:
import matplotlib

In [6]:
import matplotlib.pyplot as plt

In [7]:
from sklearn import linear_model

In [8]:
def merge_matches_wins(player_matches, matches):
    combined_matches = player_matches.merge(matches, left_on='match_id', right_on='match_id')
    combined_matches = combined_matches.drop(columns=["first_blood_y"])
    combined_matches = combined_matches.rename(columns={"match_id_x": "match_id"})
    combined_matches = combined_matches.rename(columns={"first_blood_x": "first_blood"})
    return combined_matches

In [9]:
# might need to change this to ignore non-recent champs
def get_pos_win_rate(player_matches):
    df = pd.DataFrame(columns=['role', 'games', 'win_rate', 'kda', 'gpm', 'cspm', 'tower_damage', 'champion_damage', 'wards_placed', 'vision_wards_bought', 'wards_killed'])                           
                               
    role_list = ['top', 'jungle', 'middle', 'bottom', 'support']
    
    for role in role_list:
        games_role = player_matches[player_matches['role'] == role]
        role_wins = games_role[games_role['win'] == "Win"].shape[0]
        role_fails = games_role[games_role['win'] == "Fail"].shape[0]
        if role_wins > 0 or role_fails > 0:
            total_games = role_wins+role_fails
            win_ratio = role_wins / total_games
            gpm = games_role['gold_per_minute'].mean()
            cspm = games_role['creeps_per_minute'].mean()
            tower_dmg = games_role['damage_to_turrets'].mean()
            champ_dmg = games_role['damage_to_champions'].mean()
            wards_placed = games_role['wards_placed'].mean()
            vision_bought = games_role['vision_wards_bought'].mean()
            wards_killed = games_role['wards_killed'].mean()
            kda = (games_role['kills'].mean() + games_role['assists'].mean()) / games_role['deaths'].mean()


            # gpm and cspm
            # tower_damage and champ_damage

            df.loc[len(df)] = [role, total_games, win_ratio, kda, gpm, cspm, tower_dmg, champ_dmg, wards_placed, vision_bought, wards_killed]

    return df

In [10]:
def get_performance_for_champ_role(player_matches):
    
    df = pd.DataFrame(columns=['champion', 'role', 'games', 'win_rate', 'kda', 'gpm', 'cspm', 'tower_damage', 'champion_damage', 'wards_placed', 'vision_wards_bought', 'wards_killed'])
                               
    champ_list = list(player_matches['champion_name'].value_counts().index)
                               
    role_list = ['top', 'jungle', 'middle', 'bottom', 'support']
    
    for champ in champ_list:
        player_champ_matches = player_matches[player_matches['champion_name'] == champ]
        for role in role_list:
            champ_games_role = player_champ_matches[player_champ_matches['role'] == role]
            champ_wins = champ_games_role[champ_games_role['win'] == "Win"].shape[0]
            champ_fails = champ_games_role[champ_games_role['win'] == "Fail"].shape[0]
            if champ_wins > 0 or champ_fails > 0:
                total_games = champ_wins+champ_fails
                win_ratio = champ_wins / total_games
                gpm = champ_games_role['gold_per_minute'].mean()
                cspm = champ_games_role['creeps_per_minute'].mean()
                tower_dmg = champ_games_role['damage_to_turrets'].mean()
                champ_dmg = champ_games_role['damage_to_champions'].mean()
                wards_placed = champ_games_role['wards_placed'].mean()
                vision_bought = champ_games_role['vision_wards_bought'].mean()
                wards_killed = champ_games_role['wards_killed'].mean()
                if champ_games_role['deaths'].mean() != 0:
                    kda = (champ_games_role['kills'].mean() + champ_games_role['assists'].mean()) / champ_games_role['deaths'].mean()
                else:
                    kda = (champ_games_role['kills'].mean() + champ_games_role['assists'].mean())
                # gpm and cspm
                # tower_damage and champ_damage

                df.loc[len(df)] = [champ, role, total_games, win_ratio, kda, gpm, cspm, tower_dmg, champ_dmg, wards_placed, vision_bought, wards_killed]
    return df

In [11]:
matches = pd.read_csv("matches.csv", index_col=0)

In [12]:
spaynkee = pd.read_csv("spaynkee.csv", index_col=0)

In [13]:
dumat = pd.read_csv("dumat.csv", index_col=0)

In [14]:
archemlit = pd.read_csv('archemlit.csv', index_col=0)

In [15]:
a_matches = merge_matches_wins(archemlit, matches)

In [16]:
d_matches = merge_matches_wins(dumat, matches)

In [17]:
s_matches = merge_matches_wins(spaynkee, matches)

In [18]:
sda_matches = matches[~(matches['participants'].str.contains("stylus_crude"))]

In [19]:
sda_matches = sda_matches[~sda_matches['participants'].str.contains("dantheninja6156")]

In [20]:
sda_matches = sda_matches[~sda_matches['participants'].str.contains("csqward")]

In [21]:
sda_matches_backup = sda_matches

In [22]:
# get all matches where there are 3 participants after dropping all other 3 participants.
sda_matches = sda_matches_backup[sda_matches_backup['participants'].str.contains(",.*,", regex=True)]

In [23]:
sda_matches['win'].value_counts()

Win     134
Fail    118
Name: win, dtype: int64

In [24]:
# before getting performance for role, select new matches only?
s_recent = s_matches.sort_values('start_time', ascending=False)
s_recent = s_matches.head(100)

a_recent = a_matches.sort_values('start_time', ascending=False)
a_recent = a_matches.head(100)

d_recent = d_matches.sort_values('start_time', ascending=False)
d_recent = d_matches.head(500)
#s_recent

In [25]:
s_perf = get_performance_for_champ_role(s_matches)

In [26]:
a_perf = get_performance_for_champ_role(a_recent)

In [27]:
d_perf = get_performance_for_champ_role(d_matches)

In [28]:
s_role = get_pos_win_rate(s_matches)
s_role

,role,games,win_rate,kda,gpm,cspm,tower_damage,champion_damage,wards_placed,vision_wards_bought,wards_killed
0,top,522,0.545977,2.828937,343.017241,5.519157,2924.862069,21510.379310,13.626437,1.250958,1.875479
1,jungle,511,0.489237,2.663353,334.342466,1.215264,776.005871,16016.270059,13.757339,1.778865,2.972603
2,middle,210,0.509524,2.944685,333.900000,5.042857,1658.514286,24444.914286,15.733333,1.580952,2.361905
3,bottom,507,0.546351,2.880061,374.469428,6.258383,2986.757396,23063.708087,12.917160,1.045365,2.276134
4,support,424,0.514151,3.033204,269.955189,0.969340,350.764151,11873.615566,27.971698,2.403302,3.792453

In [29]:
a_role = get_pos_win_rate(a_recent)
a_role

,role,games,win_rate,kda,gpm,cspm,tower_damage,champion_damage,wards_placed,vision_wards_bought,wards_killed
0,top,8,0.500000,2.964286,316.125000,5.250000,2451.875000,17449.250000,9.625000,1.375000,2.500000
1,jungle,4,0.750000,2.333333,335.000000,4.000000,1356.250000,16742.500000,11.750000,1.250000,1.250000
2,middle,68,0.455882,2.308642,325.470588,5.279412,1752.044118,22546.250000,13.441176,1.661765,2.235294
3,bottom,17,0.705882,2.144231,356.705882,5.941176,3057.647059,21314.588235,13.352941,1.411765,2.411765
4,support,3,1.000000,5.200000,323.666667,2.333333,1222.333333,15849.000000,25.333333,1.666667,3.666667

In [30]:
d_role = get_pos_win_rate(d_matches)
d_role

,role,games,win_rate,kda,gpm,cspm,tower_damage,champion_damage,wards_placed,vision_wards_bought,wards_killed
0,top,212,0.561321,3.487952,332.966981,5.566038,1336.599057,21477.929245,10.452830,0.962264,2.108491
1,jungle,279,0.505376,3.049491,326.767025,1.308244,1137.960573,13667.315412,14.616487,1.695341,2.777778
2,middle,279,0.465950,3.155500,341.157706,5.548387,1771.899642,20427.716846,13.154122,1.347670,2.035842
3,bottom,296,0.469595,3.447412,355.432432,6.283784,1984.016892,19646.067568,11.777027,1.152027,2.246622
4,support,854,0.553864,3.865320,280.929742,1.057377,1119.318501,12026.000000,20.305621,2.761124,4.240047

In [31]:
a_perf_top = a_perf[a_perf['role'] == "top"]
a_perf_jg = a_perf[a_perf['role'] == "jungle"]
a_perf_mid = a_perf[a_perf['role'] == "middle"]
a_perf_bot = a_perf[a_perf['role'] == "bottom"]
a_perf_sup = a_perf[a_perf['role'] == "support"]

In [32]:
s_perf_top = s_perf[s_perf['role'] == "top"]
s_perf_jg = s_perf[s_perf['role'] == "jungle"]
s_perf_mid = s_perf[s_perf['role'] == "middle"]
s_perf_bot = s_perf[s_perf['role'] == "bottom"]
s_perf_sup = s_perf[s_perf['role'] == "support"]

In [33]:
d_perf_top = d_perf[d_perf['role'] == "top"]
d_perf_jg = d_perf[d_perf['role'] == "jungle"]
d_perf_mid = d_perf[d_perf['role'] == "middle"]
d_perf_bot = d_perf[d_perf['role'] == "bottom"]
d_perf_sup = d_perf[d_perf['role'] == "support"]

In [34]:
s_perf_mid

,champion,role,games,win_rate,kda,gpm,cspm,tower_damage,champion_damage,wards_placed,vision_wards_bought,wards_killed
11,Orianna,middle,74,0.554054,3.768546,343.770270,5.594595,2489.256757,24650.270270,12.986486,1.770270,1.729730
13,Karma,middle,2,0.500000,4.555556,338.500000,5.000000,1995.500000,28078.500000,17.000000,1.500000,1.500000
31,Brand,middle,18,0.666667,2.507813,329.388889,2.277778,45.833333,28728.222222,32.611111,2.722222,4.944444
34,Ryze,middle,23,0.478261,2.810219,361.521739,5.478261,814.086957,29961.173913,16.565217,1.217391,2.478261
36,Galio,middle,22,0.409091,2.523438,303.409091,4.909091,1393.954545,18042.954545,11.500000,0.636364,1.409091
39,Lux,middle,14,0.642857,3.061728,312.357143,4.214286,988.500000,20759.214286,17.571429,1.285714,2.285714
46,Syndra,middle,15,0.600000,2.772727,334.466667,6.000000,2191.466667,19879.466667,12.200000,1.933333,1.666667
55,Corki,middle,11,0.454545,2.277778,320.454545,5.272727,2078.090909,24421.818182,14.636364,0.909091,3.272727
78,Ziggs,middle,6,0.333333,3.243243,374.166667,6.666667,2225.166667,36556.166667,15.833333,1.333333,2.166667
80,Irelia,middle,1,0.000000,0.111111,257.000000,5.000000,1417.000000,6540.000000,10.000000,3.000000,1.000000
86,Anivia,middle,5,0.800000,4.937500,339.000000,5.200000,2378.800000,27911.400000,16.600000,1.600000,3.000000
87,LeBlanc,middle,4,0.250000,3.647059,325.750000,4.250000,1328.000000,21347.250000,13.250000,2.000000,3.750000
105,Cassiopeia,middle,2,0.000000,1.444444,317.500000,5.500000,0.000000,27143.000000,21.000000,1.000000,6.000000
106,Taliyah,middle,2,0.500000,3.333333,359.000000,2.500000,2013.500000,26992.500000,29.500000,3.000000,2.000000
108,Katarina,middle,2,0.000000,3.833333,311.000000,5.000000,533.000000,20604.500000,13.500000,1.000000,3.000000
115,Aurelion Sol,middle,2,0.500000,1.500000,292.500000,4.500000,0.000000,18991.500000,15.500000,0.000000,2.000000
116,Ahri,middle,2,0.500000,2.176471,344.000000,4.500000,1076.500000,22981.000000,16.000000,1.000000,3.500000
122,Veigar,middle,1,0.000000,1.800000,338.000000,5.000000,156.000000,34227.000000,13.000000,1.000000,8.000000
123,Azir,middle,1,0.000000,0.571429,216.000000,4.000000,0.000000,10005.000000,8.000000,1.000000,1.000000
126,Annie,middle,1,0.000000,1.333333,357.000000,6.000000,930.000000,30016.000000,14.000000,1.000000,1.000000
128,Malzahar,middle,1,0.000000,1.000000,258.000000,1.000000,0.000000,24591.000000,22.000000,6.000000,8.000000
136,Lissandra,middle,1,0.000000,0.454545,252.000000,5.000000,0.000000,9447.000000,9.000000,2.000000,0.000000

In [36]:
spaynkee

,match_id,role,champion,champion_name,enemy_champion,enemy_champion_name,first_blood,first_blood_assist,kills,deaths,assists,damage_to_champions,damage_to_turrets,gold_per_minute,creeps_per_minute,wards_placed,vision_wards_bought,wards_killed
0,2797485540,top,240,Kled,114.0,Fiora,0,0,4,5,5,13718,1696,301.0,6.0,8,0,1
1,2797465396,bottom,145,Kai'Sa,236.0,Lucian,0,0,11,7,5,21774,2888,419.0,5.0,10,1,3
2,2797416412,jungle,145,Kai'Sa,NaN,NaN,1,0,7,10,9,18153,509,342.0,1.0,11,2,3
3,2797387583,jungle,164,Camille,107.0,Rengar,0,0,2,1,4,3538,0,213.0,0.0,5,0,0
4,2797377646,bottom,236,Lucian,NaN,NaN,1,0,8,2,7,17347,11560,428.0,7.0,8,0,3
5,2797222295,top,240,Kled,24.0,Jax,0,0,5,5,20,21721,6858,360.0,4.0,16,2,5
6,2797183268,top,240,Kled,39.0,Irelia,0,0,3,12,18,20719,2236,356.0,6.0,13,0,6
7,2797166343,top,240,Kled,NaN,NaN,0,0,5,2,4,10470,4337,399.0,7.0,8,1,1
8,2797141761,top,240,Kled,54.0,Malphite,0,0,5,0,7,11098,3763,338.0,6.0,5,0,0
9,2797114846,top,240,Kled,NaN,NaN,0,0,1,9,5,9038,114,247.0,5.0,9,0,2
10,2797098057,top,240,Kled,122.0,Darius,0,0,9,5,17,23241,3287,429.0,5.0,11,3,3
11,2796819934,top,240,Kled,86.0,Garen,0,0,17,0,5,21488,4610,453.0,6.0,6,0,0
12,2796759500,top,240,Kled,54.0,Malphite,0,0,6,6,15,23157,4389,362.0,5.0,12,2,2
13,2796747759,top,240,Kled,NaN,NaN,0,0,7,5,9,18031,6711,434.0,6.0,11,1,2
14,2796741045,top,240,Kled,122.0,Darius,0,0,4,1,1,9659,661,281.0,5.0,5,0,1
15,2796664057,top,240,Kled,54.0,Malphite,0,0,14,2,13,18100,2161,397.0,5.0,11,1,2
16,2795927766,top,240,Kled,NaN,NaN,0,0,5,9,10,22738,1774,309.0,5.0,14,2,2
17,2795890525,top,240,Kled,41.0,Gangplank,0,0,20,5,17,38982,4072,457.0,3.0,11,3,4
18,2795852219,top,240,Kled,107.0,Rengar,0,0,4,3,10,13495,4357,355.0,4.0,8,1,0
19,2795702174,top,39,Irelia,240.0,Kled,0,0,3,11,10,13661,1536,291.0,5.0,9,1,4
20,2795673431,top,240,Kled,6.0,Urgot,0,0,6,1,11,15827,8139,421.0,8.0,10,3,2
21,2794938083,top,240,Kled,NaN,NaN,0,0,5,2,3,12482,6238,401.0,6.0,7,0,0
22,2794918700,top,39,Irelia,516.0,Ornn,0,0,9,13,6,27060,3315,358.0,7.0,11,1,0
23,2794899960,top,240,Kled,36.0,Dr. Mundo,0,0,3,8,11,17283,535,298.0,4.0,13,2,2
24,2794794363,jungle,56,Nocturne,19.0,Warwick,0,0,2,7,3,9145,0,255.0,5.0,9,1,1
25,2794756968,top,240,Kled,27.0,Singed,0,0,6,5,14,19881,0,366.0,6.0,12,1,1
26,2794421689,top,58,Renekton,126.0,Jayce,0,0,3,6,7,14356,3069,352.0,7.0,14,2,4
27,2794403932,top,240,Kled,58.0,Renekton,0,0,1,10,4,14439,93,269.0,5.0,12,3,2
28,2794377554,top,240,Kled,62.0,Wukong,0,0,6,7,2,10665,1334,299.0,5.0,6,1,1
29,2794285690,top,240,Kled,58.0,Renekton,0,0,0,6,3,11253,0,228.0,5.0,9,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2144,2122181701,jungle,54,Malphite,NaN,NaN,0,0,5,3,6,5746,0,311.0,0.0,9,0,1
2145,2122114349,bottom,51,Caitlyn,NaN,NaN,0,0,11,6,11,23963,0,376.0,5.0,14,2,3
2146,2120959588,bottom,67,Vayne,81.0,Ezreal,0,0,2,3,1,3295,0,297.0,6.0,8,0,0
2147,2120950306,bottom,21,Miss Fortune,NaN,NaN,0,0,16,8,16,46858,0,446.0,6.0,20,3,4
2148,2120342132,middle,63,Brand,99.0,Lux,0,0,13,6,13,38208,0,407.0,6.0,15,0,1
2149,2119362538,bottom,15,Sivir,222.0,Jinx,0,0,9,0,8,16367,0,410.0,6.0,5,2,1
2150,2119306799,bottom,21,Miss Fortune,15.0,Sivir,0,0,11,1,8,23304,0,386.0,6.0,8,0,3
2151,2118307425,top,54,Malphite,36.0,Dr. Mundo,0,0,4,5,8,23666,0,301.0,4.0,7,0,1
2152,2118259096,support,16,Soraka,201.0,Braum,0,0,5,11,10,13242,0,303.0,1.0,23,3,8
2153,2118216649,bottom,21,Miss Fortune,202.0,Jhin,0,0,11,0,3,9546,0,437.0,7.0,8,1,0
2154,2118200067,top,8,Vladimir,102.0,Shyvana,0,0,5,0,8,23964,0,362.0,7.0,12,0,1
2155,2117623493,bottom,21,Miss Fortune,18.0,Tristana,1,0,8,1,9,22748,0,340.0,7.0,6,0,1
2156,2117576756,jungle,64,Lee Sin,NaN,NaN,0,0,1,6,7,6169,0,293.0,0.0,12,0,4
2157,2117489061,jungle,56,Nocturne,NaN,NaN,0,0,5,2,9,14432,0,314.0,0.0,11,0,0
2158,2798435146,top,98,Shen,75.0,Nasus,0,0,5,4,7,21252,1703,312.0,6.0,10,2,4
2159,2798337355,top,240,Kled,58.0,Renekton,0,0,11,7,15,35153,3826,382.0,5.0,15,2,2
2160,2798318890,jungle,120,Hecarim,154.0,Zac,0,0,1,6,7,6869,0,279.0,1.0,10,0,0
2161,2798283637,jungle,254,Vi,48.0,Trundle,0,0,5,10,8,17159,0,315.0,1.0,14,1,1
2162,2797869223,bottom,236,Lucian,119.0,Draven,0,0,5,5,6,13930,2302,307.0,6.0,10,1,3
2163,2797853409,top,39,Irelia,86.0,Garen,0,0,1,3,0,4577,0,272.0,9.0,4,1,0
2164,2797826390,middle,39,Irelia,99.0,Lux,0,0,1,9,0,6540,1417,257.0,5.0,10,3,1
2165,2797776953,top,39,Irelia,NaN,NaN,0,0,15,7,8,40434,6490,519.0,8.0,16,2,3
2166,2799834217,top,240,Kled,NaN,NaN,1,0,12,0,5,10581,4422,410.0,7.0,7,1,1
2167,2799744216,jungle,120,Hecarim,NaN,NaN,0,0,5,4,8,16234,158,352.0,1.0,17,4,0
2168,2799741347,jungle,254,Vi,77.0,Udyr,0,0,0,0,0,0,0,0.0,0.0,0,0,0
2169,2799041049,top,240,Kled,58.0,Renekton,0,0,9,6,6,33043,4210,421.0,7.0,0,0,8
2170,2798964903,bottom,145,Kai'Sa,81.0,Ezreal,0,0,9,6,3,17298,1565,362.0,7.0,9,0,2
2171,2798927907,support,40,Janna,267.0,Nami,0,0,1,8,4,7794,0,182.0,0.0,16,0,0
2172,2798844805,top,240,Kled,NaN,NaN,0,0,5,8,8,14178,2246,317.0,5.0,9,0,2
2173,2798850023,top,240,Kled,86.0,Garen,0,0,1,2,3,5649,0,247.0,6.0,5,0,0

In [55]:
s_matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2174 entries, 0 to 2173
Data columns (total 29 columns):
match_id               2174 non-null int64
role                   2174 non-null object
champion               2174 non-null int64
champion_name          2174 non-null object
enemy_champion         1421 non-null float64
enemy_champion_name    1421 non-null object
first_blood            2174 non-null int64
first_blood_assist     2174 non-null int64
kills                  2174 non-null int64
deaths                 2174 non-null int64
assists                2174 non-null int64
damage_to_champions    2174 non-null int64
damage_to_turrets      2174 non-null int64
gold_per_minute        2174 non-null float64
creeps_per_minute      2174 non-null float64
wards_placed           2174 non-null int64
vision_wards_bought    2174 non-null int64
wards_killed           2174 non-null int64
win                    2174 non-null object
participants           2174 non-null object
first_baron            2174 non-null int64
first_tower            2174 non-null int64
first_dragon           2174 non-null int64
dragon_kills           2174 non-null int64
rift_herald            2174 non-null int64
allies                 2174 non-null object
enemies                2174 non-null object
start_time             2174 non-null object
duration               2174 non-null object
dtypes: float64(3), int64(17), object(9)
memory usage: 589.5+ KB

In [48]:
corr = s_matches.corr()

In [59]:
match_result, match_res_index= s_matches['win'].factorize()

In [62]:
test = s_matches['win'].values.reshape(-1, 1)

In [67]:
s_matches_copy = s_matches

In [68]:
s_matches_copy['win'] = s_matches_copy['win'].astype('category')

In [73]:
s_matches_copy['win'] = match_result